<div class="row">
	<div class="col-xs-12 col-s-12 col-md-12 col-lg-12">
		<h1 class="div-center">iRoom Scheduling Tool</h1>
	</div>
	<div class="col-lg-1 col-md-1">
	</div>
	<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <div class="card">
          <div class="card-header">
              Study Room A
          </div>
          <div class="card-block">
              <div class="card-media-block">
                  <div class="card-media-description">
                      <span class="card-media-title">
                          Cost: $0
                      </span>
                      <span class="card-media-text">
                          Available locations:
                          <ul class="list">
                          	<li>Beale Memorial Library</li>
                          	<li>Lamont</li>
                          	<li>Rosamond</li>
                          	<li>Southwest</li>
                          	<li>Frazier Park</li>
                          </ul>
                      </span>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <button class="btn btn-sm btn-link" [routerLink]="['/calendar','Study Room']">Reserve a time</button>
          </div>
      </div>
	</div>
</div>
<div class="row">
	
</div>